<!DOCTYPE html>
<html data-template="tmpl-dir">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Directory {directory}</title>
    <link href="/__dev-server/dev-server.css" rel="stylesheet">
    <link rel="shortcut icon" href="/__dev-server/favicon.ico" type="image/x-icon">
  </head>
  <body class="directory">
    <main>
      <h1><a href="/">~</a>{linked-path}</h1>
      {files}
    </main>
  </body>
</html>
